.ez-font-roboto {
  font-family: 'roboto' !important;
}
.ez-text-small {
  font-size: 12px !important;
}
.ez-text-medium {
  font-size: 14px !important;
}
.ez-text-large {
  font-size: 16px !important;
}
.custom-class {
  font-family: 'roboto';
  font-size: 16px;
}
